{% extends "base.html" %}

<head>
    {% block title %} <title> All - Student's Biodata </title> {% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/connections.css') }}">
    {% endblock %}
</head>

{% block content %}
<body>
    <div class="content">
      <div class="main-container">
        {% for person in data %}
            <div class="container">
                <a href="{{url_for('profile', username=person[10], job=person[8].lower())}}">
                    <div class="short-details">
                        <img src="/{{person[9]}}">
                        <label id="name"> {{person[0]}} {{person[1]}} </label>
                        <label id="college-name"> {{person[2]}} </label>
                    </div>
                </a>
                <form action="{{ url_for('all', username=current_user.username, job=current_user.job.lower()) }}" method="POST">
                              <input type="hidden" name="username" value="{{person[10]}}">
                              <input type="hidden" name="job" value="{{person[8]}}">
                              <input id="button" type="submit" name="delete" value="Delete">
                              <input id="button" type="submit" name="update" value="Update">
                </form>
            </div>
        {% endfor %}
      </div>
    </div>
</body>
{% endblock %}
