{% extends "base.html" %}

{% block title %} <title> Ask Question </title> {% endblock %}

{% block style %}
    <style>
        .content h1 {
            text-align: center;
            margin: 30px;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        textarea {
            width: 60%;
            height: 150px;
            padding: 8px;
            font-size: 1rem;
        }

        input[type="submit"] {
            width: 100px;
            height:40px;
            margin: 10px;
            padding: 10px;
            font-size: 1rem;
        }

        hr {
            background-color: #4f4f4f;
                width: 80%;
                height: 2px;
                border: none;
                border-radius: 5%;
                margin-top: 10px;
        }
        
    </style>
{% endblock %}

{% block content %}
<body>
    <div class="content">
        <h1> Your Question </h1>
        <form action="{{url_for('question', variable='new_question')}}" method="POST">
            <textarea name="new_question" placeholder="Your question here"></textarea> <br>
            <input id="button" type="submit" name="post" value="Post">
            <hr>
        </form>
    </div>
</body>
{% endblock %}