{% extends "base.html" %}

{% block title %} <title> Ask Question </title> {% endblock %}

{% block content %}
<body align="center">
<br><br><br>
    <h1> Your Question </h1> <br>
    <form action="{{url_for('question', variable='new_question')}}" method="POST">
        <textarea name="new_question" style="width: 60%; height: 150px; padding:8px;"></textarea> <br>
        <input type="submit" name="post" value="Post" style="width: 100px; height:40px; margin: 10px;">
<!--        <input type="hidden" name="question_id" value="2">-->
        <hr size="5" width="50%" color="#4f4f4f" style="border-radius: 5px">
    </form>
</body>
{% endblock %}