{% extends "base.html" %}



<head>
    {% block title %} <title> Form - Student's Biodata </title> {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">
</head>

{% block content %}

<body bgcolor="ADDDD0"> </body>
<h1 align="center"> Input Form </h1>
<table align="center">
<tr>
    <td >

    <form action="{{ url_for("receiveinfo", job=job)}}" method="POST" enctype="multipart/form-data">
    First name: <input required type="text" name="firstname" placeholder="First name">
    Last name: <input required type="text" name="lastname" placeholder="Last name"> <br><br>
    College: <input type="text" name="college">
    Age: <input required type="number" name="age"> <br><br>
    Contact Number: <input required type="tel" name="number"> <br><br>
    Facebook Id link: <input required type="url" name="fb_url"> <br><br>
    Gender:
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female
        <br><br>
    Religion:
        <input type="checkbox" name="religion" value="Muslim"> Muslim
        <input type="checkbox" name="religion" value="Hindu"> Hindu
        <input type="checkbox" name="religion" value="Others"> Others
        <br><br>
<!--    Select job: <select name="job">-->
<!--                    <option> Student </option>-->
<!--                    <option> Teacher </option>-->
<!--                </select> <br><br>-->
<!--    {% if not current_user.is_authenticated %}-->
<!--        Teacher's Username <input required type="text" name="teacher_username"> <br> <br>-->
<!--    {% endif %}-->
    Upload a Profile Picture: <input required type="file" name="picture" accept=".jpg">
    <input type="hidden" name="work" value="">
    <br><br>
    <input type="submit" value="Submit">
    </form>
    </td>
</tr>
</table>
{% endblock %}

