{% extends "base.html" %}

<head>
    {% block title %} <title> Form - Student's Biodata </title> {% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
    {% endblock %}
</head>

{% block content %}

<body>
    <div class="container">
        <div class="form-container">
            <form action="{{ url_for('receiveinfo', job=current_user.job.lower())}}" method="POST" enctype="multipart/form-data">
            <input required type="text" name="firstname" placeholder="First name">
            <input required type="text" name="lastname" placeholder="Last name">
            <input type="text" name="college" placeholder="College">
            <input required type="number" name="age" placeholder="Age">
            <input required type="tel" name="number" placeholder="Contact Number">
            <input required type="url" name="fb_url" placeholder="Facebook ID link">
            <div class="radio">
                Gender:
                <input type="radio" name="gender" value="Male"> Male
                <input type="radio" name="gender" value="Female"> Female
            </div>
            <div class="checkbox">
                Religion:
                <input type="checkbox" name="religion" value="Muslim"> Muslim
                <input type="checkbox" name="religion" value="Hindu"> Hindu
                <input type="checkbox" name="religion" value="Others"> Others
    
            </div>
            <div class="picture-upload">
                Upload a Profile Picture: <input required type="file" name="picture" accept=".jpg">
            </div>
    
    
            <input type="hidden" name="work" value="">
            <br><br>
            <input type="submit" value="Submit" id="button">
            </form>
        </div>
    
    </div>
</body>

{% endblock %}
