<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Student's Biodata </title>
    <style>
    .center1 {
     margin: 0;
     position: absolute;
     top: 15%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    }
    .center2 {
     margin: 0;
     position: absolute;
     top: 20%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    }
    </style>

</head>
<body bgcolor="ADDDD0">
<h1 align="center"> Welcome to Student's Biodata </h1>
    <div class="center1">
    <a href="{{ url_for("receiveinfo")}}">
        <button> Add Student </button>
        </a>
    </div>
    <div class="center2">
            <a href="{{ url_for("getinfo") }}">
        <button> Students Information </button>
        </a>

    </div>

</body>
</html>