{% extends "base.html" %}

<head>
  {% block title %} <title> Notifications </title> {% endblock %}
  {% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/notifications.css') }}">
  {% endblock %}
</head>

{% block content %}
<body>
  <div class="content">
    {% if current_user.is_authenticated %}
      <div class="container">
        <h1> Notifications </h1>
        {% for item in notifications %}
          <a href="{{url_for('answer', question_id=item[0] )}}">
            <div class="card">
              {% if item[4] == "pending" %}
                <div class="unseen"> {{ item[1] }} </div>
              {%  else %}
                <div> {{ item[1] }} </div>
              {% endif %}
              <hr>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</body>
{% endblock %}