{% if current_user.is_authenticated %}
    {% extends "base.html" %}
{% else %}
    {% extends "base-unknown.html" %}
{% endif %}
    <head>
        {% block title %} <title> Notice Board - Student's Biodata </title> {% endblock %}
        {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/notice-board.css') }}">
        {% endblock %}
    </head>

{% block content %}
  <body>
    <div class="container"> 
      <h1> Notices: </h1>
      {% if current_user.is_authenticated and current_user.job!="Student" %}
          <form action="{{url_for('notice')}}" method="POST">
              <textarea name="notice" placeholder="New notice here"></textarea>
              <input id="button" type="submit" name="post" value="Post">
              <hr>
          </form>
      {% endif %}
      {% for notice, name, date in notices %}
      <div class="notice-container">
          {{notice}} 
          <label> <small> <b> {{name}} </b> <br> {{date}} </small> </label> 
      </div>
    {% endfor %}
    </div>    
  </body>
{% endblock %}
