{% extends "base.html" %}

<head>
    {% block title %} <title> Q&A - Student's Biodata </title> {% endblock %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/qna.css') }}">
    {% endblock %}
</head>

{% block content %}

<body>
    <div class="content">
        <div class="container">
            {% if current_user.is_authenticated %}
                {% if current_user.job.lower() == 'student' %}
                    <a href="{{url_for('question', variable='new_question')}}"> <button id="button"> Ask a Question </button></a>
                    <a href="{{url_for('question', variable='my_questions')}}"> <button id="button"> My Questions </button></a>
                {% endif %}
                <h1> Question and Answer </h1>
                {% for item in all_questions %}
                    <a href="{{url_for('answer', question_id=item[1] )}}"> 
                        <div class="card">
                            <div id="name"> {{ item[2].capitalize() }} </div>
                            {% for question, answer in item[0].items() %}
                                <div class="question">
                                    <b>Q: </b> {{question}}
                                </div>
                                <div class="answer">
                                    <b>Ans: </b> {{answer}}
                                </div>
                            {% endfor %}
                            <hr>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}