{% extends "base.html" %}


{% block content %}

<head>
    {% block title %} <title> QNA </title> {% endblock %}

    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/qna.css') }}">
    {% endblock %}
</head>


<body>
<div class="content">
    {% if current_user.is_authenticated %}    
        <div class="container">
            <h1> Your Answer </h1>
                    <div class="card">
                        {% for question, answer in qna.items() %}
                            <div class="question">
                                <b>Q: </b> {{question}}
                            </div>
                            <div class="answer">
                                <b>Ans: </b> {{answer}}
                            </div>
                        {% endfor %}
                        {% if current_user.username == username and current_user.job.lower() == "student" and status.lower() == "done" %}
                            <form action="{{url_for('question', variable='new_question')}}" method="POST">
                                <textarea name="new_question" placeholder="New question here"></textarea> <br>
                                <input type="hidden" name="question_id" value="{{ question_id }}">
                                <input id="button" type="submit" name="post" value="Post">
                            </form>
                        {% endif %}
                        {% if current_user.job.lower() == "teacher" and status.lower() == "pending" %}
                            <form action="{{url_for('answer', question_id=question_id)}}" method="POST">
                                <textarea name="new_answer" placeholder="Your answer here"></textarea> <br>
                                <input type="hidden" name="question_id" value="{{ question_id }}">
                                <input id="button" type="submit" name="post" value="Post">
                            </form>
                        {% endif %}
                        <hr>
                    </div>
        </div>
    {% endif %}
</div>

</body>
{% endblock %}