<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
        <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
    </style>

</head>

<h1 align="center"> Sign Up </h1>
<body bgcolor="ADDDD0"> </body>
{% for message in get_flashed_messages() %}
    {{ message }} <br> <br>
{% endfor %}
<form align="center" action="{{url_for("signup")}}" method="POST" >
    Username: <input required type="text" name="username"> <br><br>
    Password: <input required type="text" name="password" > <br><br>
    <input type="submit" value="Sign Up">
</form>

<body align="center">
<p><b>Note:</b> Be sincere while typing password.</p>
</body>
</html>
