{% extends "base.html" %}

<head>
    {% block title %} <title> Form - Student's Biodata </title> {% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
    {% endblock %}
</head>

{% block content %}

<body>

<div class="container">
    <div class="form-container">
        <form action="{{ url_for('receiveinfo', job=current_user.job.lower())}}" method="POST" enctype="multipart/form-data">
            <label> First name: <input required type="text" name="Firstname" placeholder="First name" value="{{ data[0] }}"> </label>
            <label> Last name: <input required type="text" name="Lastname" placeholder="Last name" value="{{ data[1] }}"></label>
            <label> College: <input type="text" name="College" value="{{ data[2] }}"></label>
            <label> Age: <input required type="number" name="Age" value="{{ data[3] }}"></label>
            <label> Contact Number: <input required type="tel" name="Contact_Number" value="{{ data[6] }}"> </label>
            <label> Facebook ID link: <input required type="url" name="FB_URL" value="{{ data[7] }}"> </label>
            <label>
                <div class="radio">
                    Gender:
                    {% if data[4] == "Male" %}
                    <input type="radio" name="Gender" value="Male" checked> Male
                    <input type="radio" name="Gender" value="Female"> Female
                    {% endif %}
                    {% if data[4] == "Female" %}
                    <input type="radio" name="Gender" value="Male" > Male
                    <input type="radio" name="Gender" value="Female" checked> Female
                    {% endif %}
                    {% if data[4] == None %}
                    <input type="radio" name="Gender" value="Male" > Male
                    <input type="radio" name="Gender" value="Female"> Female
                    {% endif %}
                </div>
            </label>
            <label>
                <div class="checkbox">
                    Religion:
                    {% if data[5] == "Muslim" %}
                    <input type="checkbox" name="Religion" value="Muslim" checked> Muslim
                    <input type="checkbox" name="Religion" value="Hindu" > Hindu
                    <input type="checkbox" name="Religion" value="Others"> Others
                    {% endif %}
                    {% if data[5] == "Hindu" %}
                    <input type="checkbox" name="Religion" value="Muslim"> Muslim
                    <input type="checkbox" name="Religion" value="Hindu" checked> Hindu
                    <input type="checkbox" name="Religion" value="Others"> Others
                    {% endif %}
                    {% if data[5] == "Others" %}
                    <input type="checkbox" name="Religion" value="Muslim"> Muslim
                    <input type="checkbox" name="Religion" value="Hindu"> Hindu
                    <input type="checkbox" name="Religion" value="Others" checked> Others
                    {% endif %}
                    {% if data[5] == None %}
                    <input type="checkbox" name="Religion" value="Muslim"> Muslim
                    <input type="checkbox" name="Religion" value="Hindu"> Hindu
                    <input type="checkbox" name="Religion" value="Others"> Others <br><br>
                    {% endif %}
                </div>
            </label>

            <input type="hidden" name="job" value="{{data[8]}}">
            <label>
                <div class="picture-upload">
                    Upload a Profile Picture: <input type="file" name="Picture" accept=".jpg">
                </div>
            </label>
            <input type="hidden" name="username" value="{{data[10]}}">
            <input type="hidden" name="work" value="init update">
            <br><br>
            <input type="submit" value="Submit" id="button">
      </form>
    </div>
    
  </div>
</body>

{% endblock %}

