@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

:root{
    --bg-color: #fef6e4;
    --text-color: #172c66;
    --highlight-color: #001858;
    --container-color: #8bd3dd;
    --secondary-color: #f582ae;
    --navbar-color: #f3d2c1;
}

body .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--highlight-color);
    font-size: 2rem;
    margin: 10px;
}

.notice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    background-color: var(--container-color);
    margin: 10px;
    padding: 20px;
}

.notice-container label small b{
    color: var(--highlight-color);
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

textarea {
    width: 90%;
    height: 150px;
    margin-top: 30px;
    padding: 8px;
    font-size: 1rem;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
    margin: 10px;
    /* padding: 10px; */
    font-size: 1rem;
}

hr {
    background-color: #4f4f4f;
    width: 80%;
    height: 2px;
    border: none;
    border-radius: 5%;
    margin: 10px 0 20px;
}